# app
#####
/src/runner/results.json
/src/runner/node_modules
/src/runner/npm-debug.log
/src/pickles/web

# editors
#########

/nbproject/
/.settings/
/.project
/.pydevproject
/.classpath
/.buildpath
.idea/
*.iml

# vim
*~
*.swp
*.swo


# compiled source
#################

*.js.map
*.css.map
*.com
*.class
*.o
*.so


# general
#########
npm-debug.log
*.tmp
.DS_Store
Thumbs.db
*.orig
